* {
  padding: 0px;
  margin: 0px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.board-row {
  width: max-content;
  height: 60px;
}
.square {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid grey;
  font-weight: 600;
  font-size: 24px;
}
